body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    position: relative;
}

.title {
    position: absolute;
    top: 0;
    width: 100%;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px 0;
    font-size: 1.5rem;
    z-index: 3;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    position: relative;
    z-index: 1;
}

.item {
    scroll-snap-align: start;
    flex: 0 0 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    color: white;
}

.item:nth-child(odd) {
    background-color: #ff6347; /* Rouge tomate */
}

.item:nth-child(even) {
    background-color: #4682b4; /* Bleu acier */
}

img, video {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.confetti-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: 5;
}

.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    background: #f0f;
    border-radius: 50%;
    animation: fall linear infinite;
}


@keyframes fall {
    0% {
        transform: translateY(-10%);
    }
    100% {
        transform: translateY(110%);
    }
}
